<header>
    <nav class="navbar navbar-expand-md navbar-white fixed-top">


        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav navbar-nav-scroll">
                <li class="nav-item">
                    <a class="nav-link" href="/explore"><img src="../images/explore.png" alt="explore image">Explore</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/profile"><img src="../images/earth-globe_2.png" alt="Diary image">My Diary</a>
                </li>
            </ul>

            <a class="navbar-brand mx-auto">
                <img src="../images/logo_reduce.png" alt="small size TraveLog logo">TraveLog
            </a>
        </div>
        <div class="dropdown">
            <div class="initals">
                <!--<span class="input-group-text" id="basic-addon1">HH</span>-->
                <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ session.userName }}
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/settings">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/getWishList">Wish List</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logOut">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="content">
    <div class="container-fluid">
    {{#if Data}}
        <div class="row" style="border-bottom: 2px solid">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="padding: 3%; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">
                <div class="card">
                    {{#if Data.Thumbnail}}
                        <video controls autoplay name="media" height="350"><source src="{{ Data.Link }}"></video>
                    {{ else }}
                        <img class="card-img-top" src="{{ Data.Link }}" alt="Card image cap" height="350">
                    {{/if}}
                    <div class="card-body">
                        <h1>User Visted the Place</h1>
                        <ul>
                            <li>Hussain Haider</li>
                            <li>Ali Haider</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-8">
                                <span class="heading">User Rating</span>
                                {{#times 0 Data.Rating}}
                                    <span class="fa fa-star checked"></span>
                                {{/times }}
                                {{#times 5 Data.Rating}}
                                    <span class="fa fa-star"></span>
                                {{/times }}
                            </div>
                        </div>
                        <h3>User Comments</h3>
                        {{#each Data.Comments}}
                        <div class="row commentsSection">
                            <div class="col-md-3">
                                {{ userName }}
                            </div>
                            <div class="col-md-9">
                                {{ userComment }}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    </div>

</div>
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo"><a href="#" aria-label="TraveLog_logo"><img src="/images/logo_3.png" alt="TraveLog_logo"></a></h2>
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a href="#">Company Information</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help desk</a></li>
                    <li><a href="#">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="#" aria-label="twitter" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" aria-label="facebook" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" aria-label="google" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2018 Copyright Text </p>
    </div>
</footer>
